.container {
    margin: 1.5rem;
    display: grid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    line-height: 1.7;
}

.title {
    font-size: var(--fs-body);
}

.cardItems {
    overflow: auto scroll;
    max-height: 450px;
}

.status {
    margin: 0 auto;
    width: 450px;
    background-color: var(--clr-primary-100);
    padding: 40px;
    opacity: 75%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cardItems::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardItems {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}