.container{
    --content-padding: 1.5rem;
    --content-spacing: 0.75rem;

    margin: 1.5rem;
    display: grid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    line-height: 1.7;
}

.title{
    font-size: var(--fs-body);
}

.form{
    margin: 0 auto;
    display: block;
    width: 450px;
    background-color: var(--clr-primary-100);
    padding: 40px;
    border-radius: 20px;
    opacity: 75%;
}

.form label{
    display: block;
    width: 380px;
    padding: 5px;
    margin-top: 30px;
}

.form input{
    display: block;
    width: 380px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.form textarea{
    display: block;
    width: 380px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

.form select{
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.form button{
    display: block;
    margin: 40px auto;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: var(--clr-primary-100);
    cursor: pointer;
}

.required{
    color: red;
}