.left-sidebar-nav ul{
    list-style: none;
}

.left-sidebar-nav a{
    text-decoration: none;
}

.left-sidebar-nav{
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

