.container{
    --content-padding: 1.5rem;
    --content-spacing: 0.75rem;

    margin: 1.5rem;
    display: grid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    line-height: 1.7;
}

.title{
    font-size: var(--fs-body);
}

.upcomingItems{
    margin: 0 auto;
    display: block;
    width: 100%;
    background-color: var(--clr-primary-100);
    padding: 40px;
    border-radius: 20px;
    opacity: 75%;
}